header
    h1 Definition of #[em #{word}] in #{region} English:
    h2
        span.word #{word}

for entry in entries
    section
        span.part-of-speech #{entry.partOfSpeech}        
        if entry.linkToAudio
            span.audio
                audio(src=entry.linkToAudio) Pronunciation
                img(src="play.png")
        if entry.transitivity
            .transitivity #{entry.transitivity}
        if entry.otherSpellings && entry.otherSpellings.length !== 0
            .variant
                | (
                for variantForm, i in entry.otherSpellings
                    for region, j in variantForm.regions
                        - if (j === variantForm.regions.length - 1)
                            em= region + " "
                        - else
                            em= region + ", "
                    - if (i === entry.otherSpellings.length - 1)
                        strong= variantForm.text
                    - else
                        strong= variantForm.text + "; "
                | )
        ol.senses
            for sense in entry.senses
                li
                    span.sense
                        if sense.regions && sense.regions.length !== 0
                            span.region= sense.regions.join(", ") + " "
                        =sense.definition
                    if sense.subSenses && sense.subSenses.length !== 0
                        ol
                            for subSense in sense.subSenses
                                li
                                    span.sense
                                        if subSense.regions && subSense.regions.length !== 0
                                            span.region
                                                =subSense.regions.join(", ") + " "
                                        =subSense.definition
