header
    h1 Definition of #[em #{word}] in #{region} English:
    h2
        span.word #{word}
        audio Pronunciation
    if inWhichLanguageOtherUses
        .variant
            | (#[em #{inWhichLanguageOtherUses}] 
            - var spellings = "";
            - var i;
            - for (i = 0; i < otherSpellings.length - 1; i++) {
                strong= otherSpellings[i] + ", "
            - }
            strong= otherSpellings[i]
            | )
        