header
    h1 Definition of #[em #{word}] in #{region} English:
    h2
        span.word #{word}

for entry in entries
    section
        if entry.linkToAudio
            .audio
                audio(src=entry.linkToAudio) Pronunciation
                img(src="play.png")
        h3.part-of-speech #{entry.partOfSpeech.toUpperCase()}
        if entry.transitivity
            span.transitivity #{entry.transitivity}