header
    h1 Definition of #[em #{word}] in #{region} English:
    h2
        span.word #{word}

for entry in entries
    section
        span.part-of-speech #{entry.partOfSpeech}        
        if entry.linkToAudio
            span.audio
                audio(src=entry.linkToAudio) Pronunciation
                img(src="play.png")
        if entry.transitivity
            .transitivity #{entry.transitivity}
        if entry.otherSpellings
            .variant
                | (
                for variantForm, i in entry.otherSpellings
                    for region, j in variantForm.regions
                        - if (j === variantForm.regions.length - 1)
                            em= region + " "
                        - else
                            em= region + ", "
                    - if (i === entry.otherSpellings.length - 1)
                        strong= variantForm.text
                    - else
                        strong= variantForm.text + "; "
                | )