header
    h1 Definition of #[em #{word}] in #{region} English:
    h2
        span.word #{word}

for entry in entries
    section
        span.part-of-speech #{entry.partOfSpeech}        
        if entry.linkToAudio
            span.audio
                audio(src=entry.linkToAudio) Pronunciation
                img(src="play.png")
        if entry.transitivity
            .transitivity #{entry.transitivity}
        if entry.otherSpellings
            .variant
                | (
                for variantForm in entry.otherSpellings
                    - var regions = "";
                    - var j;
                    - for (j = 0; j < variantForm.regions.length - 1; j++) {
                        em= variantForm.regions[j] + ", "
                    - }
                    em= variantForm.regions[j] + " " 
                    strong= variantForm.text + "; "
                | )